<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card class="card-wrapper">  
    <ion-card-content class="card-content">
      <div class="scan-img">
        <em></em>
        <span></span>
      </div>
      <h3 class="card-title">
       Scan an empty area on the floor
      </h3>
      <ion-button class="submit-btn" expand="full" (click)="gotoArView()" >Get Started</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
